
:root body {
  max-width: 100%;
  overflow-x: hidden;
  background: url('../images/body.jpg') !important;
  /*font: normal 14px Arial, Helvetica, sans-serif;*/
  font-family: Lato, sans-serif;
  color: #ff4c3b;
}

:root .search-input .button-1:focus {
  background-color: #000;
}

:root .sitemap-page .entity a:focus {
  color: #000;
}

:root .forums-table-section-title a:focus {
  color: #ff4c3b;
}

:root .requirement-container .requirement-heading .btn-link {
  padding: 0 3px;
  margin-left: 50px;
  font-size: 15px;
  color: #000;
  float: right;
  text-decoration: none;
}

/*********** HEADER ***********/


:root .header-selectors-wrapper {
  top: 75px;
  position: relative;
  z-index: 10;
  background-color: #f5f5f5;
  transition: opacity 0.3s;
  opacity:0;
}

:root .header-selectors-wrapper > div {
  display: block;
  width: 50%;
  /*margin: 10px auto;*/
  padding:0 15px;
  vertical-align: middle;
}

:root .header-selectors-wrapper select {
  width: 100%;
}

:root .language-list {
  max-width: 100%;
  font-size: 0;
}

:root .language-list li {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}

:root .language-list a {
    display: block;
    position: relative;
    width: 24px;
    height: 32px;
    line-height: 0;
  }

:root .language-list img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

:root .header-links-wrapper {
  display: flex;
  width: 130px;
  float: right;
  position: absolute;
  z-index: 2;
  right: 13%;
  bottom: 22%;
  /* padding: 8px 0 0 0;*/
}



:root .header-links ul {
  font-size: 0;
}

:root .header-links li {
  display: inline-block;
  margin: 0 10px;
}

:root.header-links span,:root .header-links a {
  display: inline-block;
  font-size: 12px; /*reset zeroing*/
  line-height: 36px;
  text-transform: uppercase;
}
:root .header-links a:hover,:root .header-links a:focus {
    color: #000;
  }

:root #topcartlink { /*casuta cu shopping cart*/
  display: inline-block;
  margin: 10px auto 0;
  background-color: #e9e7e7;
  padding: 0 20px;
}

:root #topcartlink a {
    background: url('../images/shopping-bag.png') left center no-repeat;
    padding: 0 0 0 20px;
  }

  :root #topcartlink a:hover, /*la aatingerea cursorului*/
  :root #topcartlink a:focus {
    color: #a505aa;
  }

:root #customerCurrency /*casuta cu limba*/
{
    width:auto;
}

:root .header-menu {
  border-top: 0;
  border-bottom: 0;
  display: inline-block;
  right: 5%;
  margin: 0 ;
}

:root .header-menu > ul > li {
  display:inline-block;
  border-left: none;
  padding: 0 15px;
  vertical-align: middle;
}

:root .top-menu {
  display: inline-block;
}

  :root .top-menu > li {
    position: relative;
    background: #fff;
    margin: 0;
  }

   :root .top-menu > li > a {
      display: block;
      min-height: 25px;
      font-size: 15px;
      /*font-family: Arial, Helvetica, sans-serif;*/
      color: #808080;
      transition: color 0.7s ease; /* Animația schimbării culorii de fundal */
    }

    :root .top-menu > li > a:hover, .top-menu > li > a:focus {
      color: #ff4c3b;
      position: relative;
      z-index: 1;
    }

:root .top-menu .sublist {
    display: none;
    background-color: #fff;
    padding: 5px 0;
  }

:root .top-menu .sublist li {
      position: relative;
      margin: 1px 0 1px 20px;
    }

:root .top-menu .sublist li a {
        display: block;
        padding: 15px 25px;
        font-size: 10px;
      }
:root .news-list-homepage .title {
  display:none;
  color: #000;
}
:root .news-list-homepage .view-all a:hover, .news-list-homepage .view-all a:focus {
  color: #a505aa;
}

:root .blog-posts .buttons .read-more:hover,
.blog-posts .buttons .read-more:focus,
.news-items .buttons .read-more:hover,
.news-items .buttons .read-more:focus {
  background-color: #a505aa;
}

:root .news-list-homepage .news-head
{
    display:grid;
}

:root .news-list-homepage {
  margin:0 0 25px;
}
:root .post-title, :root .news-title {
  /*border-bottom: 1px solid #000;*/
  order: 1;
  color: #000;
  padding: 0 10px 10px;
}

:root .news-date {
 
  margin:0;
  font-style:normal;
  font-size:18px;
  order: 0;
  color: #ff4c3b;
  letter-spacing: 0.03em;
}
:root .news-items .buttons{
    display:none;
}
:root .news-list-homepage .news-item
{
    margin-bottom:0;
}

:root .view-all {
  display: none;
}
:root .post-title:hover, .post-title:focus, :root .news-title:hover, .news-title:focus {
    color: #a505aa;
  }

:root .blog-posts .buttons .read-more,
:root .news-items .buttons .read-more {
  background-color: #ff4c3b;
}

  :root.blog-posts .buttons .read-more:hover,
  .blog-posts .buttons .read-more:focus,
  :root .news-items .buttons .read-more:hover,
  .news-items .buttons .read-more:focus {
    background-color: #000;
    color: #ff4c3b;
  }

:root .news-list-homepage
{
    position:relative;
    left:5%;
    width:90%;
}
:root .news-list-homepage .view-all a {
  color: #000;
}

:root .news-body {
  position: relative;
  left: 30%;
  width: max-content;
  border-top: 1px solid #000;
  color: #777;
}

:root .topic-block-title h2 {
  color: #000;
}
:root .product-grid .title {
  display:none;
  left: 40%;
  position: relative;
  width: 20%;
  color: #000;
  border-bottom: 1px solid #ff4c3b;
}
:root .category-item .title
{
    display:none;
   /* color:#000;*/
}

:root .home-page-polls .title strong {
  color: #000;
}

:root .poll-options li > label {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color:#000;
}

:root .header-logo {
  /*padding: 0 0 0 15px;*/
  position: absolute;
  top: 27%;
  left: 3.5%;
  display: inline-block;
  text-align: left;
  margin: 0;
}

:root .search-box {
  text-align: center;
 /* padding:0 0 30px;*/
}


:root .header {
  width: 100%;
}
:root .header-upper {
  /*border-bottom: 1px solid #ff4c3b;*/
}
:root .header-gava {
  color: #fff;
  font-family: monospace;
  text-align:left;
  padding: 0 0 0 90px;
}
:root .header-logo:hover ~ .header-gava, :root .header-logo:focus ~ .header-gava
{
    color:#000;
}

:root .footer-powered-by
{
    visibility:hidden;
}

:root .item-box .product-box-add-to-cart-button:hover,
:root .item-box .product-box-add-to-cart-button:focus {
  background-color: #a505aa;
}

:root .item-box .product-box-add-to-cart-button {
  width: 60%;
  background-color: #ff4c3b;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

:root .newsletter-subscribe-button {
  float: left;
  height: 36px;
  border: none;
  background-color: #ff4c3b;
  transition:background 300ms ease-in-out;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

:root .newsletter-subscribe-button:hover,
:root .newsletter-subscribe-button:focus {
  background-color: #d13e30;
}

:root h2.product-title {
  display: contents;
  color: #777;
}

:root .item-box .product-rating-box {
   margin: 0 0 10px; 
}

:root .price.actual-price
{
    font-weight:700;
    color:#000;
}

:root .container {
  padding-bottom:30px;
  color:#777;
  position: relative;
  display: block;
  left: 32%;
  width: 36%;
  text-align: center;
}

:root .search-lupa {
  /*padding: 0 0 0 75px;*/
  position: absolute;
  display: inline-block;
  left: 77.5%;
}

  :root .search-lupa button {
    position: absolute;
    z-index: 6;
    color: #000;
    border: none;
    background-color: #fff;
    top:33px;
  }

:root #small-search-box-form {
  padding: 400px 0 0 0px;
  text-align:center;
}

:root .search-lupa #searchbutton:active {
   
}

#searchBox.search-box.store-search-box {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0; /* Ascuns implicit */
  /*transition: opacity 0.5s ease;*/
}

  #searchBox.search-box.store-search-box.visible {
    display: block; /* Afișează elementul */
    opacity: 1; /* Afișează cu tranziție */
  }

  #searchBox.search-box.store-search-box.hidden {
    opacity: 0;
    pointer-events: none;
  }

:root i.fa.fa-heart {
  position:relative;
  right:5%;
  color: #ff4c3b;
}

:root .selector {
  position: absolute;
  right: 12%;
  display: inline-block;
  /* padding: 0 230px 0 0; */
  float: right;
  width: 40px;
  height: 50px;
}

:root i.fa-solid.fa-earth-americas {

  padding: 34px 10px 10px 25px;
  z-index: 0;
  position: absolute;
}


  :root i.fa-solid.fa-earth-americas:hover + .header-selectors-wrapper, :root i.fa-solid.fa-earth-americas:focus + .header-selectors-wrapper, :root .header-selectors-wrapper:hover {
    opacity: 1;
  }

:root .header-lower {

  padding: 10px 0;
  text-align: left;
  background-color: #f8f8f8;
}
:root p.welcome {

  padding: 12px 30px 0 50px;
  display: inline-block;
  color: #999;
  text-align: left;
}

:root i.fa.fa-phone {
  display: inline-block;
  color: #ff4c3b;
}
:root p.habibi {
  display: inline-block;
  color: #999;
  padding: 0 0 0 15px;
}
:root .master-column-wrapper {
  padding: 30px 0 0 0;
}

:root .top-menu li :has(.sublist) {
  cursor:pointer;
}
  :root .top-menu li:has(.sublist)::before {
    content: "▼"; /* Unicode character for down arrow */
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #808080;
    padding: 0 0 8px 0;
    transition: color 0.7s ease; /* Animația schimbării culorii de fundal */
  }
  :root .sublist.first-level li:has(.sublist)::before {
    content: "▼"; /* Unicode character for down arrow */
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 0 0 8px 0;
    transition: color 0.7s ease; /* Animația schimbării culorii de fundal */
  }
:root .top-menu li:has(.sublist):hover::before,
:root .top-menu li:has(.sublist):focus::before {
  color: #ff4c3b;
}
:root .sublist.first-level li:has(.sublist):hover::before,  :root .sublist.first-level li:has(.sublist):focus::before {
  
  color: #fff;
 
}

:root .cont-menu .header-links a.ico-wishlist {
  display: none;
}
:root .cont-menu .header-links #topcartlink {
  display:none;
}

:root .cont-menu
{
    padding:0 180px 0 0;
    float:right;
    display:inline-block;
}
:root .header-links-wrapper .header-links a.ico-account {
    display: none;
  }

:root .header-links-wrapper .header-links a.ico-logout {
    display: none;
  }

:root .header-links-wrapper .header-links a.ico-register {
  display: none;
}

:root .header-links-wrapper .header-links a.ico-login {
  display: none;
}

:root input#small-searchterms.search-box-text.ui-autocomplete-input {
  width:740px;
  border: none;
  border-bottom: 2px solid #777;
}

:root input#small-searchterms.search-box-text.ui-autocomplete-input:focus {
  outline:none;
}

:root input#newsletter-email.newsletter-subscribe-text {
  border: 1px solid #eee;
}
:root input#newsletter-email.newsletter-subscribe-text:focus {
  outline:none;
}

:root .search-box .search-box-button{
    display:none;
    background-color:#ff4c3b;
}

:root input[type="text"],
:root input[type="email"],
:root input[type="tel"],
:root input[type="password"],
:root textarea, :root select {
  height: 36px; /*safari padding fix*/
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
}

:root .master-wrapper-content {
  /*width: 980px;*/
  width: 100%;
  background-color: #f8f8f8;
}

:root span.closebtn {
  position: fixed;
  top: 10px;
  right: 25px;
  color: #777;
  font-size: 40px;
  cursor: pointer;
}

:root button.bruh {
  font-family: Lato, sans-serif;
  background-color: #ff4c3b;
  transition: background 0.3s ease-in-out;
  color: #fff;
  position: absolute;
  border:0;
  width: 8%;
  z-index: 5;
  height: 1.5%;
  left: 14%;
  top: 9.5%;
  letter-spacing: 0.05em;
}
  :root button.bruh:hover, :root button.bruh:focus {
    border:solid 1px #000;
    background-color: #fff;
    color: #000;
 
  }

:root h4.bun-venit {
  z-index: 1;
  user-select: none;
  display: block;
  position: absolute;
  top: 6.5%;
  left: 11%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .4em;
  color: #777;
  margin-bottom: 0;
}

:root a.nivo-imageLink {
  pointer-events:none;
}

:root .category-grid.home-page-category-grid
{
    margin:0;
    position:relative;
    /*width:80%;*/
    left:10%;
}
:root .page.home-page {

}

:root .item-grid .item-box {
  margin: 0 2.5% 50px;
}


:root .item-box .picture
{
    background:none;
}

:root .item-grid .item-box .category-item .picture
{
    width:400px;
}

:root .product-grid {
  position: relative;
  left: 8%;
  width: 80%;
}

:root .space {
  background: url('../images/body.jpg');
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
}

:root .add-info .buttons{
    display:none;
}

:root .item-box .details {
  display: grid;
  position: relative;
  left: 15%;
}

:root .product-rating-box {
  order: -1;
}

:root .item-box .prices {
  display: flex;
}
:root .item-box .actual-price
{
    order:-1;
}

:root .category-grid.home-page-category-grid .item-box .picture a img
{
    height:600px;
    width:600px;
}

:root .space1
{
    padding-bottom:35px;
}
:root .promotion {
  padding-top:40px;
  padding-bottom:25px;
  position: relative;
  left: 14%;
  height: 160px;
  width: 70%;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
}
:root .free {
  display:inline;
  width: 400px;
  padding:0 0 0 60px;
  border-right: 1px solid #ddd;
}
:root .daily {
  width: 400px;
  padding: 0 0 0 60px;
  border-right: 1px solid #ddd;
}

:root .Festival.Offer {
  width: 200px;
  padding: 0 0 0 60px;
}

:root .text {
  position: absolute;
  padding: 1.5%;
  display: inline-block;
}


:root .promotion h4
{
    font-size:16px;
    /*display:inline;
    position:relative;
    left:5%;*/
}

:root .promotion p {
  color:#777;
}

:root .pic1
{
    display:inline-block;
}

:root .banner
{
    display:inline-block;
    position:relative;
    left:14%;
}

:root .space .banner h2
{
    padding-left:95px;
    font-size:90px;
    color:#ff4c3b;
}

:root .banner h3 {
  font-size:50px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

:root .banner h4 {
  font-size: 20px;
  padding-left:65px;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-top: 10px;
  margin-bottom: -5px;
  line-height: 1.3;
}
:root .title2 {
  font-size:18px;
  display: inline-block;
  position: relative;
  left: 44%;
  padding-bottom:30px;
}
:root .title2 .SO {
    position:relative;
  text-align:center;
  padding-bottom:3%;
}
  :root .title2 .LD {
    font-size: 28px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
    padding-bottom: 3%;
  }
  :root .title2 .border
  {
      border-bottom:3px solid #ff4c3b;
      margin:auto;
      width:30%;
  }

:root .title3 {
  padding-top: 30px;
  font-size: 18px;
  display: inline-block;
  position: relative;
  left: 42.5%;
  padding-bottom: 30px;
}

:root .title3 .FB {
  position: relative;
  text-align: center;
  padding-bottom: 3%;
}

:root .title3 .FY {
  font-size: 28px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  padding-bottom: 3%;
}

:root .title3 .border {
  border-bottom: 3px solid #ff4c3b;
  margin: auto;
  width: 30%;
}
:root .Poze
{
    display:flex;
    width:80%;
}

:root .Poza1 {
  margin:auto;
  position: relative;
  left: 7%;
  width: 360px;
  height: 213px;
  background: url('../images/333.jpg');
}

:root .Poza2 {
  left:7%;
  margin:auto;
  position: relative;
  width: 360px;
  height: 213px;
  background: url('../images/29.jpg');
}

:root .Poza3 {
  left:12%;
  position: relative;
  width: 360px;
  height: 213px;
  background: url('../images/55.jpg');
}

:root .home-page-polls
{
    display:none;
}

:root .title-borderless {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  left: 0.5%;
}
:root .Linkuri
{
    display:flex;
    width:max-content;
    height:max-content;
}
:root .Link1 {
  width: 240px;
  height: 240px;
  background: url('../images/insta21.jpg')
}
:root .Link2 {
  width: 240px;
  height: 240px;
  background: url('../images/insta22.jpg')
}
:root .Link3 {
  width: 240px;
  height: 240px;
  background: url('../images/insta23.jpg')
}
:root .Link4 {
  width: 240px;
  height: 240px;
  background: url('../images/insta24.jpg')
}
:root .Link5 {
  width: 240px;
  height: 240px;
  background: url('../images/insta25.jpg')
}
:root .Link6 {
  width: 240px;
  height: 240px;
  background: url('../images/insta26.jpg')
}
:root .Link7 {
  width: 250px;
  height: 240px;
  background: url('../images/insta27.jpg')
}
:root .boi
  {
      visibility:hidden;
      background-color:#ff4c3b;
      width:240px;
      height:240px;
}
:root .Link7 .boi {
  width:250px;
}

:root .fa-brands.fa-instagram
{
    position:relative;
    top:38%;
    left:40%;
    font-size:60px;
    color:#fff;
}


:root .Link1:hover > .boi, :root .Link1:focus > .boi,
:root .Link2:hover > .boi, :root .Link2:focus > .boi,
:root .Link3:hover > .boi, :root .Link3:focus > .boi,
:root .Link4:hover > .boi, :root .Link4:focus > .boi,
:root .Link5:hover > .boi, :root .Link5:focus > .boi,
:root .Link6:hover > .boi, :root .Link6:focus > .boi,
:root .Link7:hover > .boi, :root .Link7:focus > .boi {
  visibility: visible;
  opacity: 0.5;
}

:root .Logouri {
  position: relative;
  left: 16.5%;
  display: flex;
  width: max-content;
  height: max-content;
}
:root .Logo1 {
  opacity: 0.5;
  transition: 0.5s ease;
  margin: 50px;
  width: 125px;
  height: 125px;
  background: url('../images/logo1.png')
}
  :root .Logo1:hover, :root.Logo1:focus,
  :root .Logo2:hover, :root.Logo2:focus,
  :root .Logo3:hover, :root.Logo3:focus,
  :root .Logo4:hover, :root.Logo4:focus,
  :root .Logo5:hover, :root.Logo5:focus,
  :root .Logo6:hover, :root.Logo6:focus,
  :root .Logo7:hover, :root.Logo7:focus {
    opacity: 1;
  }

:root .Logo2 {
  opacity: 0.5;
  margin: 50px;
  width: 125px;
  height: 125px;
  background: url('../images/logo2.png');
  transition: 0.5s ease;
}

:root .Logo3 {
  opacity: 0.5;
  margin: 50px;
  width: 125px;
  height: 125px;
  background: url('../images/logo3.png');
  transition: 0.5s ease;
}

:root .Logo4 {
  opacity: 0.5;
  margin: 50px;
  width: 125px;
  height: 125px;
  background: url('../images/logo4.png');
  transition: 0.5s ease;
}

:root .Logo5 {
  opacity: 0.5;
  margin: 50px;
  width: 125px;
  height: 125px;
  background: url('../images/logo5.png');
  transition: 0.5s ease;
}

:root .footer-block.follow-us
{
    float:none;
    order:0;
    display:ruby;
}
:root .newsletter {
  width:max-content !important;
  position: relative;
  display: inline;
  left: 5%;
  order: 0;
}
:root .newsletter .title {
  display:none;
}
:root .subscribe h4 {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
}
:root .subscribe p {
  width: max-content;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
:root .subscribe {
    right:17%;
  padding-right: 150px;
  border-right: 2px solid #ddd;
  position: relative;
}

:root .social {
  margin-top: 40px;
  order: 1;
}

:root .footer-upper {
  font-size:14px;
  border-top: 2px solid #ddd;
  display: flex;
  /*width: 980px;*/
  padding: 35px 10px;
}
:root .footer-upper strong {
  color:#222;
}
:root .footer-block {
  order: 1;
}
:root .contant
{
    width:356px;
    display:grid;
}
  :root .contant p {
    color: #777;
    text-align: left;
    width: 356px;
    line-height: 32px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }

:root .footer {
  padding-top:20px;
}

:root .footer-logo {
  margin-bottom: 18px;
  width: 179px;
  height: 34px;
  background: url('../images/multikart.png');
}

:root .footer-block.my-account{
  margin-left: 8.33333333%;
}

:root .footer-block .list a 
{
    color:#777;
}
:root .networks
{
    display:flex;
}
:root .contant .title
{
    display:none;
}
:root .networks li {
  padding-right:30px;
}

:root .footer-info span
{
    color:#222;
}

:root .footer-info  {
 line-height:0;
}
:root .footer-lower
{
    height:50px;
    width:100%;
    background-color:#f5f5f5;
}
:root .center-1
{
    margin:0;
}

:root .page.product-reviews {
  
}

:root .page.product-details-page {
  padding: 0 250px 0 250px;
  padding-top:70px;
  background: #fff;
}

:root .breadcrumb{
    color:#222;
padding-left:50px;

}
:root .sku
{
    display:none;
}

:root .product-essential p
{
    color:#222;
}

:root #div1 p, #div2 
{
    color:#777;
}

:root .meniu-produs {
  font-size: 16px;
  display: inline-flex;
  position: relative;
}

  :root .meniu-produs a {
    transition: color .15s ease-in-out;
    color: #222;
    padding-right: 30px;
  }
  :root .meniu-produs h1
  {
      font-size:16px;
  }
:root .overview {
  
  position: relative;
}

:root .men {
  top: 22.75%;
  position: absolute;
  left: 35%;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 3%;
  font-size: 55px;
  letter-spacing: 6px;
}
:root .treizeci {
  left: 36.4%;
  top: 22%;
  position: absolute;
  font-size: 18px;
  color: #ff4c3b;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  line-height: 28px;
}

:root .women {
  top: 22.75%;
  position: absolute;
  left: 68%;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 3%;
  font-size: 55px;
  letter-spacing: 6px;
}

:root .saizeci {
  left: 72.5%;
  top: 22%;
  position: absolute;
  font-size: 18px;
  color: #ff4c3b;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  line-height: 28px;
}

:root .form-fields {
  background-color: #fff;
  display: grid;
}

:root .form-fields .inputs {
   order:1;
   display:grid;
}
  :root .form-fields .inputs label {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  :root .form-fields .inputs .required {
   display:none;
  }


:root .form-fields .review-rating {
  position:relative;
  right:28.5%;
  order: 0;
  margin-bottom: 10px;
}

:root .write-review .review-rating div {
  margin: 0 0 1.5px 5px;
}

:root .write-review .buttons {
  text-align: left;
  left: 1.5%;
  position: relative;
}

:root .write-review .fieldset {
  margin:0;
}
:root .write-review .inputs textarea, :root .write-review .inputs input[type="text"] {
  width: 100%;
}
:root .write-review .button-1 {
  background-color: #ff4c3b;
}

:root .overview .add-to-cart-button {
  height: 37px;
  width: 178px;
  position: relative;
  z-index: 1;
  background-color: #ff4c3b;
}
:root .overview .add-to-cart
{
    display:flex;
}
:root .overview .prices {
  position: relative;
  z-index: 1;
  display: inline-flex;
}

:root .overview .product-name {
  position: relative;
  border-bottom: none;
  margin: 0;
  z-index: 1;
}
:root .product-reviews-overview {
  margin: 14px 0 0 0;
  position: relative;
  z-index: 1;
}
:root .overview .additional-details {
  position: relative;
  z-index: 1;
  margin: 0;
}

:root .overview .old-product-price {
  position: relative;
  margin: 3px 12px;
  order: 1;
  z-index: 1;
}
:root .overview .product-price {
  position: relative;
  z-index: 1;
  order: 0;
}

:root .overview .product-price label {
  display:none;
}

:root .product-count {
 
  color: #212529;
  display:table;
  position: relative;
  z-index: 1;
  margin-bottom: 12px;
  background-color: #f8f8f8;
}

:root .product-count li
{
    display:inline;
    margin-right:14px;
}

:root .overview .add-to-cart-panel {
  position: relative;
  z-index: 1;
  display: inline-grid;
}

:root .overview .add-to-cart-button:hover, :root .overview .add-to-cart-button:focus, :root .overview .add-to-wishlist-button:hover, :root .overview .add-to-wishlist-button:focus {
  background-color: #fff;
  color: #000;
  border: 1px solid #222;
}
  :root .overview .add-to-wishlist-button:hover > #heart1.fa.fa-heart, :root .overview .add-to-wishlist-button:focus > #heart1.fa.fa-heart {
    color:#000;
  }

:root .compare-products {
  display: none;
}
:root .email-a-friend
{
    display:none;
}

:root .overview-buttons {
  padding-left: 185px;
  position: absolute;
  top: 0;
  margin: 0;
  padding-top: 288px;
  z-index:0;
}

:root .overview .add-to-wishlist-button {
  
  width: 142px;
  height: 36px;
  background-image: none;
  color: #fff;
  background-color: #ff4c3b;
}

:root .add-to-wishlist {
  margin-top: auto;
  margin-left: 10px;
}
:root #heart1.fa.fa-heart {
  position: relative;
  right: 18%;
  color:#fff;
}

:root .fa.fa-shopping-cart {
  position: relative;
  right: 10%;
}

:root .product-no-reviews {
  margin: 0;
}

:root .label-section
{
    margin:20px 0 20px;
}

:root .overview input[type="text"]
{
    margin-bottom:20px;
}

:root .overview input[type="text"] {
 position:relative;
 left:19%;
}
:root .andrei {
  height: 36px;
  width: 35px;
  position: absolute;
  left:43.5%;
  border:1px solid #ddd;
}
:root .emy {
  height: 36px;
  width: 35px;
  position: absolute;

  border: 1px solid #ddd;
}
  :root .emy:active,:root .andrei:active 
  {
      background-color:#ff4c3b;
  }

  :root .fa.fa-arrow-right {
    padding-top: 10px;
    padding-left: 10px;
    color: #222;
  }

:root .fa.fa-arrow-left {
  padding-top: 10px;
  padding-left: 10px;
  color: #222;
}

:root .product-share-button {
  margin-top: 5px;
}
:root .share {
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 20px;
}
  :root .share h6 {
    color: #222;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 16px;
  }

:root .shipping-info li {
  display: block;
  font-size: 14px;
  color: #777;
  line-height: 1.8;
}
:root .border-product .product-title
{
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 16px;
}

:root .timer {
    color:#222;
  display: inline-flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-size: 18px;
  margin-top: 10px;
  background-color: #f7f7f7;
}
  :root .timer div {
    margin-right:15px;
  }

  :root .timer .timer-cal {
   font-size:10px;
  }

:root .hours .timer-cal, :root .minutes .timer-cal, :root .seconds .timer-cal {
  margin-left: 3px;
}

  :root .timer .padding-l {
    padding-left:10px;
  }

  :root #b1.border-product
  {
      padding-top:15px;
      padding-bottom:20px;
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;
  }

:root #b2.border-product {
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

:root #b3.border-product {
  padding-top: 15px;
  padding-bottom: 20px;
  
}

:root #b3.border-product .product-title {
  margin-bottom:8px;
}

:root .product-tags-box
{
    display:none;
}

:root .galerie
{
    
    display:flow;
}

  :root .galerie img {
    opacity: 0.5;
    margin-right: 20px;
    border: 1px solid #ddd;
    width: 150px;
    height: 200px;
  }
    :root .galerie img:hover, :root .galerie img:focus {
     opacity:1;
    }
:root .gallery
{
    height:888px;
    margin:0;
}

  :root .gallery .picture
  {
      margin:0 auto 50px;
  }

:root .recomand {
  
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 23px;
  font-size: 16px;
}